---
import GestionCliente from "../components/GestionCliente.astro";
import GestionFacturas from "../components/GestionFacturas.astro";
import GestionProveedor from "../components/GestionProveedor.astro";
import GestionUsuario from "../components/GestionUsuario.astro";
import Sidebar from "../components/UI/Sidebar.astro";
import LayoutGestion from "../layouts/LayoutGestion.astro";
import GestionCategoria from "../components/GestionCategoria.astro";
import GestionArticulo from "../components/GestionArticulo.astro";

const params = Astro.url.searchParams;
const view = params.get("view");

let SelectedComponent;
switch (view) {
  case "gestion-usuarios":
    SelectedComponent = GestionUsuario;
    break;
  case "gestion-proveedores":
    SelectedComponent = GestionProveedor;
    break;
  case "gestion-categorias":
    SelectedComponent = GestionCategoria;
    break;
  case "gestion-clientes":
    SelectedComponent = GestionCliente;
    break;
  case "gestion-facturas":
    SelectedComponent = GestionFacturas;
    break;
  case "gestion-articulos":
    SelectedComponent = GestionArticulo;
    break;
  case "gestion-alquileres":
    SelectedComponent = GestionAlquiler;
    break;
  default:
    SelectedComponent = GestionProveedor;
}

import { protectRoute } from "../utils/auth";
import GestionAlquiler from "../components/GestionAlquiler.astro";

/*const user = await protectRoute(Astro);
if (!user) {
  return Astro.redirect("/");
}*/
---

<LayoutGestion>
  <div class="flex min-h-screen">
    <section class="w-64">
      <Sidebar currentView={view} />
    </section>
    <main class="flex-1 p-6 overflow-auto">
      <slot />
      <SelectedComponent />
    </main>
  </div>
</LayoutGestion>
<style>
  main {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
